<!DOCTYPE html>
<html>

<%= render "shared/beforelogin_header" %>
<body class="bg-[#FFF5E8] flex flex-col h-screen overflow-auto">
  <main class="flex-grow p-4 flex flex-col items-center">
    <h5 class="text-center">お問い合わせありがとうございました。</h5>
  </main>
</body>


<%= render "shared/footer" %>