<!DOCTYPE html>
<html>

<%= render "shared/header" %>

<p style="color: green"><%= notice %></p>

<body class="bg-[#FFF5E8]">

  <main class="flex-grow p-4 flex flex-col md:flex-row" style="display: flex; flex-direction: column;">
    <h2 class="text-3xl">ダッシュボード</h2>
    <div class="flex-1 md:w-1/2 md:pr-4">
      <!-- 円グラフを表示するためのキャンバス -->
      <canvas id="goalChart" width="200" height="200"></canvas>
    </div>
    <div class="flex-1 md:w-1/2">
      <a href="goals" class="text-xl">目標一覧</a>
      <a href="users/show" class="text-xl">ユーザー情報</a>
    </div>
  </main>

  <!-- Chart.jsのCDNを読み込む -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    // 達成した目標数と全目標数
    const achievedGoals = <%= @achieved_goals %>;
    const totalGoals = 100;
    const percentage = achievedGoals / totalGoals * 100;

    const ctx = document.getElementById('goalChart').getContext('2d');
    const goalChart = new Chart(ctx, {
      type: 'doughnut', // 円グラフの種類
      data: {
        labels: ['達成', '未達成'],
        datasets: [{
          label: '目標達成状況',
          data: [percentage, 100 - percentage], // データ配列（達成率、未達成率）
          backgroundColor: ['#FFA500', '#D3D3D3'], // オレンジとグレー
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          tooltip: {
            enabled: false // ツールチップを無効にする
          }
        }    
      },
      plugins: [{
        beforeDraw: function(chart) {
          const ctx = chart.ctx;
          const x = chart.width / 2;
          const y = chart.height / 2;
          ctx.restore();

          // 達成した目標数のフォントサイズ
          const achievedFontSize = (chart.innerRadius / 1.5).toFixed(2);
          ctx.font = achievedFontSize + "px Arial";
          ctx.textBaseline = "middle";
          ctx.fillStyle = "#000"; // テキストの色
          ctx.fillText(achievedGoals, x, y - 10); // 数字の位置調整
          
          // '/100'のフォントサイズを別に設定
          const totalFontSize = (chart.innerRadius / 2).toFixed(2);
          ctx.font = totalFontSize + "px Arial"; // サイズを変える
          ctx.fillText('/' + totalGoals, x, y + 10); // '/100'の位置調整
          
          ctx.save();
        }
      }]
    });

    document.getElementById('updateButton').addEventListener('click', updateChart);

    function updateChart() {
      // 新しいデータを取得するロジックを追加するダ
      const newAchievedGoals = Math.floor(Math.random() * 100); 
      const newPercentage = newAchievedGoals / totalGoals * 100;

      goalChart.data.datasets[0].data = [newPercentage, 100 - newPercentage];
      goalChart.update();
    }
  </script>

</body>

<%= render "shared/footer" %>
</html>
