<p>こんにちは  ゲスト 様</p>
<p> </p>
<p>以下のメールアドレスと一致する、既存アカウントに結びつけるリクエストを受け取りました。</p>
<p><strong><%= @email %></strong></p>
<p>このリクエストがあなたからのものである場合、以下のURLをクリックして登録を完了してください。</p>
<p>※まだアカウント登録は完了していません</p>
<p> </p>
<p><%= link_to "アカウントを結びつける", @link_url %></p>
<p>URLの期限は15分です。</p>
<p>リンクが機能しない場合、再度アカウント結びつけをリクエストしてください。</p>
<p> </p>
<p> </p>
<p>―――――――――――――――――――――――――――</p>
<p>DreamScope100</p>
<p>URL：https:#　</p>

お問い合せ：https:#　</p>
<p>―――――――――――――――――――――――――――</p>
<p>本メールに心当たりが無い場合は破棄をお願いいたします。</p>
<p>送信専用メールアドレスのため、直接の返信はできません。</p>