<link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet"> <!-- Aldrichフォントをインポート -->
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* 高さを画面いっぱいにする */
    }
    footer {
      margin-top: auto; /* フッターを下に寄せる */
    }
    header h2 {
      font-family: 'Aldrich', sans-serif; /* Aldrichフォントを適用 */
    }
  </style>
  
<header class="bg-[#FFC276] text-white p-6 flex justify-between items-center">
  <h2 class="text-4xl"><%= link_to "DreamScope100", dashboard_path, class: "text-white" %></h2>
  <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white", onclick: "return confirm('ログアウトしますか？');" %>
</header>