<link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet"> <!-- Aldrichフォントをインポート -->
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* 高さを画面いっぱいにする */
    }
    footer {
      margin-top: auto; /* フッターを下に寄せる */
    }
    header h2 {
      font-family: 'Aldrich', sans-serif; /* Aldrichフォントを適用 */
    }
    .link {
      transition: color 0.3s; /* スムーズなトランジション */
    }

    .link:hover {
      color: #E3E3E3; /* ホバー時の文字色 */
    }

    .link:active {
      color: #A9A9A9; /* クリック時の文字色 */
    }

    .header-links {
      display: flex;
      align-items: center;
      gap: 24px; /* space-x-6相当（24px）、調整可能 */
    }
  </style>
  
<header class="bg-[#FFC276] text-white p-6 flex justify-between items-center">
  <h2 class="text-4xl"><%= link_to "DreamScope100", dashboard_index_path, class: "text-white link" %></h2>
  <div class="header-links">
    <% if user_signed_in? && current_user.provider == 'line' %>
      <%= link_to "LINE公式アカウント", line_friend_add_path, class: "text-white link" %>
    <% end %>
    <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white link", data: { turbo: false }, onclick: "return confirm('ログアウトしますか？');" %>
  </div>
</header>