<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet"> <!-- Aldrichフォントをインポート -->
  <style>
    .font-aldrich  {
      font-family: 'Aldrich', sans-serif; /* Aldrichフォントを適用 */
    }
  </style>

<header class="bg-[#FFC276] text-white p-6 flex justify-between items-center">
  <h2 class="text-4xl"><%= link_to "DreamScope100", root_path, class: "text-white" %></h2>
  <%= link_to 'ログイン', new_user_session_path, class: "text-white" %>
</header>

<p style="color: red"><%= notice %></p>

<body class="bg-[#FFF5E8] flex flex-col h-screen overflow-auto">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="flex flex-col items-center justify-center flex-grow text-center">
    <!-- タイトル -->
    <h1 class="text-7xl font-bold text-[#FFC276] font-aldrich">DreamScope100</h1>
    <!-- 横線 -->
    <div class="border-t border-[#FFC276] w-[600px] mt-2"></div>
    <!-- サブタイトル -->
    <h2 class="text-xl text-black mt-4">100の夢をかなえよう</h2>
  </div>

</body>

<%= render "shared/footer" %>
</html>
