<!DOCTYPE html>
<html>

<%= render "shared/header" %>

<p style="color: green"><%= notice %></p>

<body class="bg-[#FFF5E8]">

  <main class="flex-grow p-4" style="display: flex; flex-direction: column;">
    <h2 class="text-3xl">目標一覧</h2>
  </main>

</body>

<%= render "shared/footer" %>
</html>
